# Importing Data

In [55]:
# Suppress all warnings
import warnings
warnings.filterwarnings('ignore')


#import librarires
import numpy as np
import pandas as pd

In [56]:
#Read CSV
df = pd.read_excel("C:/PERSONAL/Personal/PROJ/NTI/Python/CustomerChurn-Dataset.xlsx")

In [57]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0,0,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,0,0,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0,0,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0,3,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0,0,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,0,5,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0,0,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,0,0,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,2,0,No

# Explore Data

In [58]:
#first 5 rows
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0,0,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,0,0,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0,0,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0,3,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0,0,Yes

In [59]:
#last 5 rows
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0,0,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,0,5,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0,0,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,0,0,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,2,0,No

In [60]:
#information from data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  numAdminTickets   7043 non-null   int64
 21  numTechTickets    7043 non-null   int64
 22  Churn             7043 non-null   object
dtypes: float64(1), int64(4), object(18)
memory usage: 1.2+ MB

In [61]:
#Statistical Summary >>> Numerical
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
MonthlyCharges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75
numAdminTickets,7043.0,0.515689,1.275299,0.00,0.0,0.00,0.00,5.00
numTechTickets,7043.0,0.419566,1.250117,0.00,0.0,0.00,0.00,9.00

In [62]:
#Statistical Summary >>> Categorical
df.describe(include = "object").T

                 count unique               top  freq
customerID        7043   7043        7590-VHVEG     1
gender            7043      2              Male  3555
Partner           7043      2                No  3641
Dependents        7043      2                No  4933
PhoneService      7043      2               Yes  6361
MultipleLines     7043      3                No  3390
InternetService   7043      3       Fiber optic  3096
OnlineSecurity    7043      3                No  3498
OnlineBackup      7043      3                No  3088
DeviceProtection  7043      3                No  3095
TechSupport       7043      3                No  3473
StreamingTV       7043      3                No  2810
StreamingMovies   7043      3                No  2785
Contract          7043      3    Month-to-month  3875
PaperlessBilling  7043      2               Yes  4171
PaymentMethod     7043      4  Electronic check  2365
TotalCharges      7043   6531                      11
Churn             7043      2                No  5174

In [63]:
df.shape

(7043, 23)

In [64]:
df["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [65]:
df["gender"].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

# Selecting and Filtering

In [66]:
#Select one Column
df.gender

0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object

In [67]:
df.PaymentMethod

0                Electronic check
1                    Mailed check
2                    Mailed check
3       Bank transfer (automatic)
4                Electronic check
                  ...
7038                 Mailed check
7039      Credit card (automatic)
7040             Electronic check
7041                 Mailed check
7042    Bank transfer (automatic)
Name: PaymentMethod, Length: 7043, dtype: object

In [68]:
#Select two Columns
df[["gender","PaymentMethod"]]

      gender              PaymentMethod
0     Female           Electronic check
1       Male               Mailed check
2       Male               Mailed check
3       Male  Bank transfer (automatic)
4     Female           Electronic check
...      ...                        ...
7038    Male               Mailed check
7039  Female    Credit card (automatic)
7040  Female           Electronic check
7041    Male               Mailed check
7042    Male  Bank transfer (automatic)

[7043 rows x 2 columns]

In [69]:
## Customers >> PaymentMethod = Electronic check

df_ElectronicCheck = df[df["PaymentMethod"] == "Electronic check"]
df_ElectronicCheck

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0,0,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0,0,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,0,0,Yes
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,0,2,Yes
14,5129-JLPIS,Male,0,No,No,25,Yes,No,Fiber optic,Yes,...,Yes,Yes,Month-to-month,Yes,Electronic check,105.50,2686.05,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7023,1035-IPQPU,Female,1,Yes,No,63,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,103.50,6479.4,0,0,No
7029,2235-DWLJU,Female,1,No,No,6,No,No phone service,DSL,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,44.40,263.05,0,0,No
7032,6894-LFHLY,Male,1,No,No,1,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,75.75,75.75,0,0,Yes
7036,7750-EYXWZ,Female,0,No,No,12,No,No phone service,DSL,No,...,Yes,Yes,One year,No,Electronic check,60.65,743.3,0,0,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0,0,No

In [70]:
## Customers >> Partner = Yes & MultipleLines = Yes

df[ ( df["MultipleLines"] == "Yes" ) & ( df["Partner"] == "Yes" )]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,0,2,Yes
12,8091-TTVAX,Male,0,Yes,No,58,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,No,Credit card (automatic),100.35,5681.1,0,0,No
15,3655-SNQYZ,Female,0,Yes,Yes,69,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Two year,No,Credit card (automatic),113.25,7895.15,0,0,No
23,3638-WEABW,Female,0,Yes,No,58,Yes,Yes,DSL,No,...,No,No,Two year,Yes,Credit card (automatic),59.90,3505.1,1,0,No
26,6467-CHFZW,Male,0,Yes,Yes,47,Yes,Yes,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,99.35,4749.15,0,4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7024,7398-LXGYX,Male,0,Yes,No,44,Yes,Yes,Fiber optic,Yes,...,No,No,Month-to-month,Yes,Credit card (automatic),84.80,3626.35,0,0,No
7031,3605-JISKB,Male,1,Yes,No,55,Yes,Yes,DSL,Yes,...,No,No,One year,No,Credit card (automatic),60.00,3316.1,0,0,No
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0,0,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,0,5,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,0,0,Yes

# Handling Errors

In [71]:
# check missing values
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
numAdminTickets     0
numTechTickets      0
Churn               0
dtype: int64

In [72]:
# check duplicates
df.duplicated().sum()

0

In [73]:
#Sort
df.sort_values(by = 'customerID', ascending = False)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
1634,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,...,Yes,Yes,Two year,No,Electronic check,59.00,3707.6,0,0,No
1996,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,...,No,Yes,Two year,No,Mailed check,67.85,4627.65,0,0,No
1260,9992-UJOEL,Male,0,No,No,2,Yes,No,DSL,No,...,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,0,0,No
2875,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,...,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7,0,0,Yes
3607,9987-LUTYD,Female,0,No,No,13,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,55.15,742.9,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5569,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4,0,0,Yes
5931,0011-IGKFF,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,0,2,Yes
3845,0004-TLHLJ,Male,0,No,No,4,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2,0,Yes
3488,0003-MKNFE,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,Yes,Month-to-month,No,Mailed check,59.90,542.4,3,0,No
2307,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,Yes,No,One year,Yes,Mailed check,65.60,593.3,0,0,No

# Ask Questions

In [74]:
#1. What is the total customer churn rate in the dataset?
churn_rate = df['Churn'].value_counts(normalize=True)['Yes']
churn_rate_percentage = churn_rate * 100
churn_rate_percentage

26.536987079369588

In [75]:
#2. What is the average tenure of customers who have churned vs.
#those who have not?

avg_tenure_churn = df.groupby('Churn')['tenure'].mean()
avg_tenure_churn

Churn
No     37.569965
Yes    17.979133
Name: tenure, dtype: float64

In [76]:
#3. How does churn rate vary across different contract types?

churn_by_contract = df.groupby('Contract')['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_contract

Contract
Month-to-month    0.427097
One year          0.112695
Two year          0.028319
Name: Yes, dtype: float64

In [77]:
#4. Which payment method has the highest churn rate?

churn_by_payment = df.groupby('PaymentMethod')['Churn'].value_counts(normalize=True).unstack()['Yes']
highest_churn_payment = churn_by_payment.idxmax()
highest_churn_payment

'Electronic check'

In [78]:
#5. How does monthly charge compare between churned and non-churned customers?

monthly_charge_comparison = df.groupby('Churn')['MonthlyCharges'].mean()
monthly_charge_comparison

Churn
No     61.265124
Yes    74.441332
Name: MonthlyCharges, dtype: float64

In [79]:
#6. Is there a significant correlation between tenure and monthly charges?

correlation_tenure_monthly = df['tenure'].corr(df['MonthlyCharges'])
correlation_tenure_monthly

0.2478998562861499

In [80]:
#7. Which internet service type has the highest churn rate?

churn_by_internet_service = df.groupby('InternetService')['Churn'].value_counts(normalize=True).unstack()['Yes']
highest_churn_internet_service = churn_by_internet_service.idxmax()
highest_churn_internet_service

'Fiber optic'

In [81]:
#8. What is the distribution of tenure among customers who have churned?

tenure_churned = df[df['Churn'] == 'Yes']['tenure'].describe()
tenure_churned

count    1869.000000
mean       17.979133
std        19.531123
min         1.000000
25%         2.000000
50%        10.000000
75%        29.000000
max        72.000000
Name: tenure, dtype: float64

In [82]:
#9. How does churn vary with the presence of phone service?

churn_by_phone_service = df.groupby('PhoneService')['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_phone_service

PhoneService
No     0.249267
Yes    0.267096
Name: Yes, dtype: float64

In [83]:
#10. Do customers with dependents have a lower churn rate?

churn_by_dependents = df.groupby('Dependents')['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_dependents

Dependents
No     0.312791
Yes    0.154502
Name: Yes, dtype: float64

In [84]:
#11. What is the average monthly charge across different customer segments
#(e.g., based on contract or internet service type)?

avg_monthly_by_segment = df.groupby(['Contract', 'InternetService'])['MonthlyCharges'].mean()
avg_monthly_by_segment

Contract        InternetService
Month-to-month  DSL                 50.219501
                Fiber optic         87.021194
                No                  20.409542
One year        DSL                 61.396754
                Fiber optic         98.779499
                No                  20.819505
Two year        DSL                 70.462978
                Fiber optic        104.571445
                No                  21.777351
Name: MonthlyCharges, dtype: float64

In [85]:
#12. What proportion of churned customers have senior citizens?

churn_senior_citizens = df[df['Churn'] == 'Yes']['SeniorCitizen'].mean()
churn_senior_citizens_percentage = churn_senior_citizens * 100
churn_senior_citizens_percentage

25.468164794007492

In [86]:
#13. Which demographic (gender, seniority) shows a higher tendency to churn?

churn_by_gender_senior = df.groupby(['gender', 'SeniorCitizen'])['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_gender_senior

gender  SeniorCitizen
Female  0                0.239384
        1                0.422535
Male    0                0.232808
        1                0.411150
Name: Yes, dtype: float64

In [87]:
#14. How does churn vary across different total charges brackets?

# Convert TotalCharges to numeric, ignoring errors by setting non-numeric entries to NaN, then fill NaN values with 0
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce').fillna(0)

# Create TotalChargesBracket after setting non-numeric values to 0
df['TotalChargesBracket'] = pd.cut(df['TotalCharges'], bins=5)

# Calculate churn rate across TotalCharges brackets
churn_by_total_charges_bracket = df.groupby('TotalChargesBracket')['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_total_charges_bracket

TotalChargesBracket
(-8.685, 1736.96]     0.328411
(1736.96, 3473.92]    0.245791
(3473.92, 5210.88]    0.167048
(5210.88, 6947.84]    0.147100
(6947.84, 8684.8]     0.106936
Name: Yes, dtype: float64

In [88]:
#15. Is there a relationship between having a partner and the likelihood to churn?

churn_by_partner = df.groupby('Partner')['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_partner

Partner
No     0.329580
Yes    0.196649
Name: Yes, dtype: float64

In [89]:
#16. What is the average tenure of customers by payment method?

avg_tenure_by_payment = df.groupby('PaymentMethod')['tenure'].mean()
avg_tenure_by_payment

PaymentMethod
Bank transfer (automatic)    43.656736
Credit card (automatic)      43.269382
Electronic check             25.174630
Mailed check                 21.830025
Name: tenure, dtype: float64

In [90]:
#17. How does paperless billing correlate with churn?

churn_by_paperless_billing = df.groupby('PaperlessBilling')['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_paperless_billing

PaperlessBilling
No     0.163301
Yes    0.335651
Name: Yes, dtype: float64

In [91]:
#18. What is the churn rate by gender?

churn_by_gender = df.groupby('gender')['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_gender

gender
Female    0.269209
Male      0.261603
Name: Yes, dtype: float64

In [92]:
#19. How does the churn rate compare between different streaming services?

churn_by_streaming = df.groupby(['StreamingTV', 'StreamingMovies'])['Churn'].value_counts(normalize=True).unstack()['Yes']
churn_by_streaming

StreamingTV          StreamingMovies
No                   No                     0.344400
                     Yes                    0.311869
No internet service  No internet service    0.074050
Yes                  No                     0.316819
                     Yes                    0.294330
Name: Yes, dtype: float64

In [93]:
#20. What is the average monthly charge for customers with
#different levels of tenure (e.g., segmented by <1 year, 1-3 years, etc.)?

df['TenureGroup'] = pd.cut(df['tenure'], bins=[0, 12, 36, 60, 72], labels=['<1 year', '1-3 years', '3-5 years', '5+ years'])
avg_monthly_by_tenure_group = df.groupby('TenureGroup')['MonthlyCharges'].mean()
avg_monthly_by_tenure_group

TenureGroup
<1 year      56.172023
1-3 years    63.248195
3-5 years    68.527447
5+ years     75.952701
Name: MonthlyCharges, dtype: float64